.body {
    background-color: rgb(184, 203, 214);
}

.header {
    overflow: hidden;
    background-color: coral;
    padding: 20px 10px;
    border-radius: 5px;
}

.header a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color: azure;
    font-size: 20px;
    transition: none;
    padding: 10px 30px;
}

.header a:hover {
    background-color: antiquewhite;
    color: rgb(8, 5, 1);
    border-radius: 7px;
}

.header a.logo {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.corousel {
    background-image: image(src='images/img1016.jpg')
}
